<div class="well small icici">
  <h5 class="header">Your Relationship Manager</h5>
  <div>
  Maria Joseph<br/>+91 9962572828<br/><%= mail_to "maria.joseph@icicilombard.com","maria.joseph@icicilombard.com" %></div>
</div>

<div class="well small icici">
  <h4 class="header"><a href=""><i class="icon-fire"></i> Report a claim</a></h4>
  <hr style="border-bottom: 1px solid #fcd98f;border-top: 1px solid #FECB63;"/>
  <h4 class="header"><a href=""><i class="icon-user"></i> Ask an Expert</a></h4>
  <hr style="border-bottom: 1px solid #fcd98f;border-top: 1px solid #FECB63;"/>
  <h4 class="header"><a href=""><i class="icon-envelope"></i> Complaints/Feedbacks</a></h4>
</div>