<%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" %>
<%= stylesheet_link_tag "http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css" %>

<table id ="policies">
  <%= render :partial => "policies/policies"%>
</table>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#policies').dataTable({
       "aaSorting": []
    });
} );
</script>